---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 429ms
      X-Forecast-Api-Calls:
      - '2'
      X-Response-Time:
      - 124.206ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583126866,"summary":"Possible
        Flurries","icon":"snow","nearestStormDistance":2,"nearestStormBearing":314,"precipIntensity":0.004,"precipIntensityError":0.001,"precipProbability":0.64,"precipType":"snow","precipAccumulation":0.0467,"temperature":27.82,"apparentTemperature":25.59,"dewPoint":25.34,"humidity":0.9,"pressure":1020.1,"windSpeed":3.44,"windGust":5.37,"windBearing":330,"cloudCover":0.92,"uvIndex":0,"visibility":2.221,"ozone":378.4},"minutely":{"summary":"Possible
        flurries stopping in 11 min.","icon":"snow","data":[{"time":1583126820,"precipIntensity":0.004,"precipIntensityError":0.001,"precipProbability":0.63,"precipType":"snow"},{"time":1583126880,"precipIntensity":0.004,"precipIntensityError":0.001,"precipProbability":0.64,"precipType":"snow"},{"time":1583126940,"precipIntensity":0.004,"precipIntensityError":0.001,"precipProbability":0.65,"precipType":"snow"},{"time":1583127000,"precipIntensity":0.004,"precipIntensityError":0.001,"precipProbability":0.64,"precipType":"snow"},{"time":1583127060,"precipI[...]
