---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/38.2544472,-104.6091409,1583174511
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 911ms
      X-Forecast-Api-Calls:
      - '16'
      X-Response-Time:
      - 20.035ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":38.2544472,"longitude":-104.6091409,"timezone":"America/Denver","currently":{"time":1583174511,"summary":"Clear","icon":"clear-day","precipIntensity":0.0001,"precipProbability":0.02,"precipType":"rain","temperature":46.87,"apparentTemperature":44.46,"dewPoint":30.5,"humidity":0.53,"pressure":1008.5,"windSpeed":4.94,"windGust":12.17,"windBearing":211,"cloudCover":0.27,"uvIndex":4,"visibility":10,"ozone":384.1},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583132400,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":38.32,"apparentTemperature":32.04,"dewPoint":31.31,"humidity":0.76,"pressure":1016.4,"windSpeed":8.99,"windGust":15.25,"windBearing":35,"cloudCover":0.98,"uvIndex":0,"visibility":10,"ozone":360.2},{"time":1583136000,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":36.64,"apparentTemperature":32.19,"dewPoint":32.77,"humidity":0.86,"pressure":1017.2,"windSpeed":5.42,"windGust":11.95,"windBearing":39,"cloudCover":0.99,"uvIndex":0,"visibility":3.162,"ozone":360.4},{"time":1583139600,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":34.99,"apparentTemperature":31.12,"dewPoint":32.76,"humidity":0.91,"pressure":1017.1,"windSpeed":4.42,"windGust":9.64,"windBearing":71,"cloudCover":1,"uvIndex":0,"visibility":3.412,"ozone":362.5},{"time":1583143200,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0244,"precipProbability":0.13,"precipType":"snow","precipAccumulation":0.1279,"temperature":34.21,"apparentTemperature":29.53,"dewPoint":31.89,"humidity":0.91,"pressure":1016.5,"windSpeed":5.17,"windGust":10.78,"windBearing":80,"cloudCover":0.97,"uvIndex":0,"visibility":7.763,"ozone":368.5},{"time":1583146800,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0084,"precipProbability":0.06,"precipType":"snow","precipAccumulation":0.0476,"temperature":33.64,"apparentTemperature":29.01,"dewPoint":31.22,"humidity":0.91,"pressure":1015.7,"windSpeed":4.99,"windGust[...]
