---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/38.2544472,-104.6091409,1583176753
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 890ms
      X-Forecast-Api-Calls:
      - '24'
      X-Response-Time:
      - 23.448ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":38.2544472,"longitude":-104.6091409,"timezone":"America/Denver","currently":{"time":1583176753,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":49.71,"apparentTemperature":48.14,"dewPoint":28.99,"humidity":0.45,"pressure":1007.6,"windSpeed":5.35,"windGust":13.94,"windBearing":219,"cloudCover":0.19,"uvIndex":4,"visibility":10,"ozone":380.8},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1583132400,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":38.32,"apparentTemperature":32.04,"dewPoint":31.31,"humidity":0.76,"pressure":1016.4,"windSpeed":8.99,"windGust":15.25,"windBearing":35,"cloudCover":0.98,"uvIndex":0,"visibility":10,"ozone":360.2},{"time":1583136000,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":36.64,"apparentTemperature":32.19,"dewPoint":32.77,"humidity":0.86,"pressure":1017.2,"windSpeed":5.42,"windGust":11.95,"windBearing":39,"cloudCover":0.99,"uvIndex":0,"visibility":3.162,"ozone":360.4},{"time":1583139600,"summary":"Overcast","icon":"cloudy","precipIntensity":0,"precipProbability":0,"temperature":34.99,"apparentTemperature":31.12,"dewPoint":32.76,"humidity":0.91,"pressure":1017.1,"windSpeed":4.42,"windGust":9.64,"windBearing":71,"cloudCover":1,"uvIndex":0,"visibility":3.412,"ozone":362.5},{"time":1583143200,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0244,"precipProbability":0.13,"precipType":"snow","precipAccumulation":0.1279,"temperature":34.21,"apparentTemperature":29.53,"dewPoint":31.89,"humidity":0.91,"pressure":1016.5,"windSpeed":5.17,"windGust":10.78,"windBearing":80,"cloudCover":0.97,"uvIndex":0,"visibility":7.763,"ozone":368.5},{"time":1583146800,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0084,"precipProbability":0.06,"precipType":"snow","precipAccumulation":0.0476,"temperature":33.64,"apparentTemperature":29.01,"dewPoint":31.22,"humidity":0.91,"pressure":1015.7,"windSpeed":4.99,"windGust[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=pueblo,co&open_at=1583176753
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aQJoic5ei9fIZM4JJ9whjbWo4N2UNvDI_uUxN0iHBExz-vyuyY5qd9Yqc8Hhtf3Bp4iDApc_XjoNcZem0-XQYJ3uxmdKaT1TJN_Ww24fxsaHPOHe9B1sT31X1WtcXnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - 10-64-176-239-uswest1bprod; site=public_api_v3
      Ratelimit-Remaining:
      - '4984'
      X-Zipkin-Id:
      - bb839f565e28680e
      Ratelimit-Resettime:
      - '2020-03-03T00:00:00+00:00'
      Ratelimit-Dailylimit:
      - '5000'
      X-Proxied:
      - 10-64-151-81-uswest1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "M4MwxQAA58B7ENV8ootI-w", "alias": "kans-kitchen-pueblo",
        "name": "Kan''s Kitchen", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/ZZVNpsvc_x6p5iY8CCpzUg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kans-kitchen-pueblo?adjust_creative=VjQozeXxBU99iPZltS4vhw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=VjQozeXxBU99iPZltS4vhw",
        "review_count": 17, "categories": [{"alias": "chinese", "title": "Chinese"},
        {"alias": "hotdogs", "title": "Fast Food"}], "rating": 4.5, "coordinates":
        {"latitude": 38.2401504516602, "longitude": -104.643249511719}, "transactions":
        ["delivery"], "price": "$", "location": {"address1": "1620 S Prairie Ave",
        "address2": null, "address3": null, "city": "Pueblo", "zip_code": "81005",
        "country": "US", "state": "CO", "display_address": ["1620 S Prairie Ave",
        "Pueblo, CO 81005"]}, "phone": "+17195660209", "display_phone": "(719) 566-0209",
        "distance": 6975.853345952662}, {"id": "TqOjqxJ1BLpyg0JOroEaLw", "alias":
        "kuans-kitchen-pueblo", "name": "Kuan''s Kitchen", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/KqVoFQAZ6miOHKZSwpj6lQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/kuans-kitchen-pueblo?adjust_creative=VjQozeXxBU99iPZltS4vhw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=VjQozeXxBU99iPZltS4vhw",
        "review_count": 35, "categories": [{"alias": "chinese", "title": "Chi[...]
