---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 943ms
      X-Forecast-Api-Calls:
      - '3'
      X-Response-Time:
      - 149.748ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583130251,"summary":"Overcast","icon":"cloudy","nearestStormDistance":0,"precipIntensity":0.003,"precipIntensityError":0.001,"precipProbability":0.12,"precipType":"snow","precipAccumulation":0.0373,"temperature":26.17,"apparentTemperature":26.47,"dewPoint":24.02,"humidity":0.91,"pressure":1020.2,"windSpeed":1.65,"windGust":2.35,"windBearing":40,"cloudCover":0.97,"uvIndex":0,"visibility":4.742,"ozone":379.1},"minutely":{"summary":"Flurries
        starting in 8 min., stopping 30 min. later.","icon":"snow","data":[{"time":1583130240,"precipIntensity":0.003,"precipIntensityError":0.001,"precipProbability":0.11,"precipType":"snow"},{"time":1583130300,"precipIntensity":0.003,"precipIntensityError":0.001,"precipProbability":0.14,"precipType":"snow"},{"time":1583130360,"precipIntensity":0.003,"precipIntensityError":0.002,"precipProbability":0.18,"precipType":"snow"},{"time":1583130420,"precipIntensity":0.004,"precipIntensityError":0.002,"precipProbability":0.22,"precipType":"snow"},{"time":1583130480,"precipI[...]
