---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?components=locality:denver%7Cadministrative_area:co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 04 Mar 2020 14:56:47 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 851ms
      X-Forecast-Api-Calls:
      - '1'
      X-Response-Time:
      - 66.645ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583333807,"summary":"Clear","icon":"clear-day","nearestStormDistance":216,"nearestStormBearing":188,"precipIntensity":0,"precipProbability":0,"temperature":41.19,"apparentTemperature":41.19,"dewPoint":14.01,"humidity":0.33,"pressure":1018.9,"windSpeed":1.67,"windGust":5.64,"windBearing":146,"cloudCover":0.07,"uvIndex":1,"visibility":10,"ozone":325.6},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583333760,"precipIntensity":0,"precipProbability":0},{"time":1583333820,"precipIntensity":0,"precipProbability":0},{"time":1583333880,"precipIntensity":0,"precipProbability":0},{"time":1583333940,"precipIntensity":0,"precipProbability":0},{"time":1583334000,"precipIntensity":0,"precipProbability":0},{"time":1583334060,"precipIntensity":0,"precipProbability":0},{"time":1583334120,"precipIntensity":0,"precipProbability":0},{"time":1583334180,"precipIntensity":0,"precipProbability":0},{"t[...]
