---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?components=locality:denver%7Cadministrative_area:co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 04 Mar 2020 15:47:55 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 195ms
      X-Forecast-Api-Calls:
      - '3'
      X-Response-Time:
      - 52.526ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583336876,"summary":"Clear","icon":"clear-day","nearestStormDistance":286,"nearestStormBearing":19,"precipIntensity":0,"precipProbability":0,"temperature":47.94,"apparentTemperature":44.97,"dewPoint":13.53,"humidity":0.25,"pressure":1017.1,"windSpeed":6.27,"windGust":11.13,"windBearing":150,"cloudCover":0.01,"uvIndex":1,"visibility":10,"ozone":325.8},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1583336820,"precipIntensity":0,"precipProbability":0},{"time":1583336880,"precipIntensity":0,"precipProbability":0},{"time":1583336940,"precipIntensity":0,"precipProbability":0},{"time":1583337000,"precipIntensity":0,"precipProbability":0},{"time":1583337060,"precipIntensity":0,"precipProbability":0},{"time":1583337120,"precipIntensity":0,"precipProbability":0},{"time":1583337180,"precipIntensity":0,"precipProbability":0},{"time":1583337240,"precipIntensity":0,"precipProbability":0},{"t[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251,1583380800
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 536ms
      X-Forecast-Api-Calls:
      - '4'
      X-Response-Time:
      - 25.716ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1583380800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":45.14,"apparentTemperature":42.5,"dewPoint":14.78,"humidity":0.29,"pressure":1018.6,"windSpeed":5.02,"windGust":8.32,"windBearing":207,"cloudCover":0.2,"uvIndex":0,"visibility":10,"ozone":327.8},"hourly":{"summary":"Partly
        cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":1583305200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":38.05,"apparentTemperature":34.72,"dewPoint":18.58,"humidity":0.45,"pressure":1020.3,"windSpeed":4.37,"windGust":6.95,"windBearing":145,"cloudCover":0.04,"uvIndex":0,"visibility":10,"ozone":326.8},{"time":1583308800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0[...]
