---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?query=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <UNSPLASH_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '46'
    body:
      encoding: UTF-8
      string: '{"id":"chaqHXlOzYs","created_at":"2018-02-23T17:18:23-05:00","updated_at":"2020-02-28T00:03:47-05:00","promoted_at":null,"width":6000,"height":4000,"color":"#EC956C","description":"Walking
        the streets of downtown Denver on a foggy, freezing cold day.","alt_description":"woman
        walking on street near SUV during daytime","urls":{"raw":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExODY4NX0","full":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExODY4NX0","regular":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExODY4NX0","small":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExODY4NX0","thumb":"https://images.unsplash.com/photo-1519424187720-db6d0fc5a5d2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExODY4NX0"},"links":{"self":"https://api.unsplash.com/photos/chaqHXlOzYs","html":"https://unsplash.com/photos/chaqHXlOzYs","download":"https://unsplash.com/photos/chaqHXlOzYs/download","download_location":"https://api.unsplash.com/photos/chaqHXlOzYs/download"},"categories":[],"likes":77,"liked_by_user":false,"current_user_collections":[],"user":{"id":"R9wpgxVwO48","updated_at":"2020-02-12T15:06:20-05:00","username":"owencavlys","name":"Owen
        Lystrup","first_name":"Owen","last_name":"Lystrup","twitter_username":"owen_lystrup","portfolio_url":"https://owenlystrup.com","bio":"**Top
        10% Contributor on Unsplash**\r\n\r\nPhotographer, writer, editor, videographer,
        content producer. \r\n\r\nSee more of my photography here: instagram.com/@owencavlys/\r\n\r\nSee
        my writing here:\r\nmedium.com/cisco-shifted","location":"Denver, by way of
        Mojave, San Francisco, and Los Angeles","links":{"self":"https://api.unsplash.com/users/owencavlys","html":"https://unsplash.com/@owencavlys","photos":"https://api.unsplash.com/users/owencavlys/photos","likes":"https://api.unsplash.com/users/owencavlys/likes","portfolio":"https://api.unsplash.com/users/owencavlys/portfolio","following":"https://api.unsplash.com/users/owencavlys/following","followers":"https://api.unsplash.com/users/owencavlys/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1497426481273-c0e02f108715?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1497426481273-c0e02f108715?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1497426481273-c0e02f108715?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"owencavlys","total_collections":0,"total_likes":171,"total_photos":22,"accepted_tos":true},"exif":{"make":"FUJIFILM","model":"X-T2","exposure_time":"1/60","aperture":"5.6","focal_length":"26.6","iso":1600},"location":{"title":"Denver,
        United States","name":"Denver, United States","city":"Denver","country":"United
        States","position":{"latitude":39.7523356606288,"longitude":-104.999134476257}},"views":1108739,"downloads":5077}'
  recorded_at: Tue, 03 Mar 2020 21:04:19 GMT
recorded_with: VCR 5.0.0
